//
// Media Query
//  @include breakpoint(min-width, max-width, type)
//
//  e.g @include breakpoint(small)  sets min-width.
//  e.g @include breakpoint(null, small) sets max-width.
//  e.g @include breakpoint(null, null, screen) sets type to screen
@mixin breakpoint($min: null, $max: null, $type: all) {
  @if $min != null and $max == null {
    @if map-has-nested-keys($columns, #{$min}, breakpoint) {
      @media #{$type} and (min-width: #{map-deep-get($columns , #{$min}, breakpoint)}) {
        @content;
      }
    }
    @else {
      @warn "No breakpoint value set for `#{$min}` in the $columns map.";
    }
  }
  @if $min == null and $max != null {
    @if map-has-nested-keys($columns, #{$max}, breakpoint) {
      @media #{$type} and (max-width: #{map-deep-get($columns , #{$max}, breakpoint)}) {
        @content;
      }
    }
    @else {
      @warn "No breakpoint value set for `#{$max}` in the $columns map.";
    }
  }
  @if $min != null and $max != null {
    @if map-has-nested-keys($columns, #{$max}, breakpoint) and map-has-nested-keys($columns, #{$min}, breakpoint)  {
      @media #{$type} and (min-width: #{map-deep-get($columns, #{$min}, breakpoint)}) and (max-width: #{map-deep-get($columns, #{$max}, breakpoint)}) {
        @content;
      }
    }
    @else {
      @if map-has-nested-keys($columns, #{$min}, breakpoint) == true and
      map-has-nested-keys($columns, #{$max}, breakpoint) != true {
        @warn "No breakpoint value set for `#{$max}` in the $columns map.";
      }
      @else if map-has-nested-keys($columns, #{$min}, breakpoint) != true and
      map-has-nested-keys($columns, #{$max}, breakpoint) == true {
        @warn "No breakpoint value set for `#{$min}` in the $columns map.";
      }
      @else if map-has-nested-keys($columns, #{$min}, breakpoint) != true and
      map-has-nested-keys($columns, #{$max}, breakpoint) != true {
        @warn "No breakpoint values set for `#{$min}` or `#{$max}` in the $columns map.";
      }
    }
  }
}
