// Settings for SDS


//
// Grid Settings
//
// 	'use-prefix' sets whether to use a prefix for all class names
//		default: false
// 	'prefix' sets prefix to use when 'use-prefix' is set to true
//  'separator' set the divider for the classes
//		e.g sm-1, sm_1, sm__1
//		default: -
//	'responsive' sets whether the grid is responsive.
//		default: true
$grid: (
	use-prefix: true,
	prefix: ssg,
	separator: '-',
	responsive: true,
);

//
// Container Settings
//
// 'name' sets the class name for the container
// 'max-width' set the max width of the container.
//		also used for default huge breakpoint
//
$container: (
	name: container,
	max-width: 71.25rem,
);

//
// Gutter Settings
//
//	'row' is applied to row when --padded is used with it.
//	'column' is applied to colums when --gutters is used with row
//
$gutters: (
	row: 1.25rem,
	column: 2.5rem
);

//
// Row Settings
//
//	'name' sets the class name for the row.
//
$row: (
	name: row,
);

//
// Column Settings
//
// 'name' & 'breakpoint' directly used in breakpoint() mixin.
//		Only works if breakpoint key set in map.
//		e.g. @include breakpoint(name);
//
//	'count' & 'prefix' used for grid class creation in scaffold.
//		Omit if you only want to add a breakpoint.

$columns: (
	small: (
		count: 4,
		prefix: sm,
		breakpoint: 40rem
	),
	medium: (
		count: 8,
		prefix: md,
		breakpoint: 50rem
	),
	large: (
		count: 12,
		prefix: lg,
		breakpoint: 64rem
	),
	huge: (
		count: 16,
		prefix: hg,
		breakpoint: map-get($container, max-width)
	),
);


// ---- FUTURE FEATURE ----
// Full mixin styling support.
// 	Lets you use semantic markup instead of classes
// ---- FUTURE FEATURE ----
