* {
  &:focus {
    outline: none;
  }
  &::selection {
    color: color(white);
    background: rgba(205, 57, 63, .99);
  }
}

img::selection {
  color: color(white);
  background: rgba(205, 57, 63, .5);
}

html,
body {
  background: color(darkblue);
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: color(white);
  padding: 0;
}

header,
nav,
footer {
  font-family: 'Bitter', serif;
}

/* Header Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Bitter', serif;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  @include breakpoint(small) {
    font-size: 3.75rem;
  }
}

h2 {
  font-size: 1.75rem;
  @include breakpoint(small) {
    font-size: 2.25rem;
  }
}

h3 {
  font-size: 1.55rem;
  @include breakpoint(small) {
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 1.375rem;
  @include breakpoint(small) {
    font-size: 1.5rem;
  }
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

/* Link styles */
a {
  color: color(white);
  text-decoration: none;
  border-color: color(red);
  border-image: url('../images/border_red.png') 4 repeat;
  border-style: dotted;
  border-width: 0;
  transition: .2s ease-in-out;
  &:hover {
    color: color(red);
  }
  &.link--blue {
    border-image-source: url('../images/border_blue.png');
    border-color: color(lightblue);
    &:hover, &:focus {
      color: color(white);
      border-image-source: url('../images/border_red.png');
      border-color: color(red);
    }
  }
  &.link--disabled {
    color: color(lightblue);
    pointer-events: none;
    border-width: 0;
    &:active, &:focus {
      color: color(darkblue);
      background: color(lightblue);
    }
  }
  &.link--highlight {
    background: color(red);
    color: color(white);
    padding: .125rem;
    &:hover {
      background: color(lightblue);
      color: color(white);
    }
  }
  &.link--small {
    font-size: .9em;
  }
  &.link--sans {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }
  &:active {
    color: color(white);
  }
  &:focus {
    background: color(lightblue);
  }
}

/* Blockquote styles */
blockquote {
  margin: 1.25rem 0;
  padding: 0 .125rem;
  border-width: 0 0 0 .375rem;
  border-color: color(red);
  border-style: dotted;
  border-image: url('../images/border_red.png') 5 repeat;
  p {
    padding: 0;
    font-size: 1.25em;
    font-style: italic;
    text-align: left;
    &::before, &::after {
      content: '"';
      color: color(red);
    }
  }
  cite {
    display: block;
    margin-top: .25em;
    font-size: .9em;
    text-align: right;
    &::before {
      content: '-';
      color: color(red);
    }
  }
}

// General Paragraph
p {
  letter-spacing: .75px;
  line-height: 1.4em;
  a {
    border-width: 0 0 .2rem 0;
  }
}

// General Figure
figure {
  margin: 0;
  padding: 0;
  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
}

/* Button Base */
.btn {
  font-family: 'Bitter', serif;
  line-height: 1em;
  //background: lighten(color(darkblue), 2%);
  background: none;
  border: none;
  transition: .2s ease-in-out;
  &:hover {
    color: color(white);
    background: color(red);
  }
  &:focus {
    background: color(lightblue);
  }
}

.btn--full {
  width: 100%;
}

.btn--outlined {
  background: color(lightblue);
  &:hover {
    background: color(red);
  }
}

.btn--large {
  padding: .625rem 1.25rem;
}

.btn--small {
  padding: .3125rem;
}

.btn--disabled {
  pointer-events: none;
}

/* List Styles */
ul {
  padding-left: 0;
  list-style: none;
}

.list__block {
  margin-bottom: 0;
  li {
    margin-top: .3125rem;
  }
}

.list__block--left {
  li {
    text-align: left;
  }
}

.list__block--square {
  list-style: disc inside;
}

.list__block--tall {
  li {
    margin-top: .625rem;
  }
}

.list__inline {
  display: block;
  li {
    display: inline-block;
    margin-right: .1875rem;
  }
}

.list__inline--comma,
.list__inline--slash {
  &:last-of-type{
    margin-right: 0;
  }
}

.list__inline--comma {
  li {
    &:after {
      content: ',';
      color: color(red);
    }
    &:last-of-type:after {
      content: '';
    }
  }
}

.list__inline--slash {
  li {
    margin: 0 .25em 0 0;
    &:before {
      content: "/";
      margin-right: .625rem;
      color: color(red);
    }
    &:first-of-type:before {
      content: "";
      margin-right: 0;
    }
  }
}

.item--done {
    text-decoration: line-through;
}

/* Dotted Border styles */
.outline__borders,
.outline__borders--top,
.outline__borders--bottom {
  border-image: url('../images/border_blue.png') 4 5 repeat;
  border-style: dotted;
  border-color: color(lightblue);
}
.outline__borders {
  border-width: .25rem 0;
}

.outline__borders--top {
  border-width: .25rem 0 0 0;
}

.outline__borders--bottom {
  border-width: 0 0 .25rem 0;
}

.outline__borders--red {
  border-image: url('../images/border_red.png') 5 3 repeat;
  border-color: color(red);
}

/* Module styles */
.alert {
  background: color(red) !important;
}

/* Type style Modifier classes */
.light_text {
  font-weight: 400;
}

.lightblue {
  color: color(lightblue);
}

.red {
  color: color(red);
}

/* Absolute center classes */
.center-wrapper {
  position: relative;
}

.center-item {
  @include vertHorzCenter();
}


/* General **PAGE SECTION** Styling */
.section__wrapper {
  padding-top: 5rem;
}

.section__header {
  padding: .675rem;
  font-style: italic;
  @include breakpoint(small) {
    text-align: left;
  }
}

.section__link {
  padding: 1.25rem;
  font-size: 1.125rem;
  font-style: italic;
  text-align: center;
  @include breakpoint(medium) {
    text-align: right;
  }
  a:before {
    content: '...';
    color: color(red);
  }
}

.sub-section__wrapper {
    margin: 4rem auto;
    @include breakpoint(medium) {
        margin: 5rem auto;
    }
}

/* Target grid container for mobile padding */
.ssg-container {
  padding: 0 .625rem;
  @include breakpoint(huge) {
    padding: 0;
  }
}

/* Old browser module to display on top of page */
.old-browser {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1.25rem;
  z-index: 1;
  font-size: 1.25rem;
  line-height: 1.5em;
  text-align: center;
  background: #1c1c1c;
}
