.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.clear::before, .clear::after {
  content: "";
  display: table;
  clear: both;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.flex__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
