
.about__info,
.about__skills {
  padding: 2.5rem .625rem;
  font-size: 1.125rem;
  @include breakpoint(medium) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.about__info {
  @include breakpoint(small) {
    font-size: 1.25rem;
  }
}

.about__header,
.about__summary,
.about__interests {
  padding: 0;
}

.about__header {
  margin-bottom: .325rem;
}

.about__summary {
  margin: 2.5rem 0 0;
  text-indent: 2.5rem;
}

.about__interests {
  margin-top: 2.5rem;
  margin-bottom: 0;
  color: color(gray);
  font-style: italic;
  li:first-of-type {
    margin-left: .625rem;
  }
}

.about__picture {
  height: 16rem;
  margin: 0 auto 2.5rem;
  background: url("../images/unnamed.jpg") center no-repeat;
  background-size: cover;
  border-radius: 20rem;
  transition: opacity .2s ease-in-out;
  width: 16rem;
  &:hover {
    opacity: 0.5;
  }

  @include breakpoint(medium) {
    margin-bottom: 0;
    height: 18rem;
    width: 18rem;
  }

  @include breakpoint(large) {
    background-position: center;

    height: 20rem;
    width: 20rem;
  }
}

.row-1 {
  margin-top: 2.5rem;
  &:first-of-type {
    margin-top: 0;
  }
  @include breakpoint(small) {
    margin-top: 0;
  }
}

.row-2 {
  margin-top: 2.5rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }
}
