.contact__form {
  font-size: 1.25rem;
  fieldset {
    margin: 0;
    padding: 0;
    border: none;
  }
}

.contact__input {
  label {
    line-height: 1em;
    display: block;
    padding: 1.25rem;
    font-family: 'Bitter', serif;
    &:after {
      content: "*";
      color: color(white);
    }
  }
  input, textarea {
    width: 90%;
    width: calc(100% - 1.25rem);
    margin: 1.25rem .625rem;
    padding: .625rem;
    color: color(gray);
    font-size: 1.25rem;
    font-style: italic;
    background: lighten(color(darkblue), 2%);
    border: 1px solid transparent;
    transition: .2s background ease-in-out;
    @include breakpoint(small) {
      font-size: inherit;
    }
    &::placeholder {
      color: lighten(color(lightblue), 5%);
      font-weight: 400;
    }
    &:focus {
      background: color(lightblue);
      color: color(white);
      font-style: normal;
      outline: none;
      &::placeholder {
        color: color(white);
      }
      &:invalid {
        border: 1px solid color(red);
      }
    }
    &:required,
    &:valid,
    &:invalid {
      border: 1px solid transparent;
      box-shadow: none;
    }
  }
  textarea {
    height: 9rem;
    resize: vertical;
  }
}

.contact__button {
  padding: .625rem;
}

.contact__links {
  margin-top: 2.5rem;
  padding: 1.25rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }
  a {
    line-height: 2.5rem;
    &:hover, &:focus {
        .icon_color_1 {
          fill: color(red);
        }
        .icon_color_2 {
          fill: #db7074;
        }
        .icon_color_3 {
          fill: #e6999c;
      }
    }
  }
  li {
    font-size: 1rem;
    a {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      margin-left: auto;
      margin-right: auto;
    }
    &:first-of-type {
      margin-top: 0;
    }
    &:after {
      clear: both;
      display: table;
      content: '';
    }
  }
  svg {
    height: 2.5rem;
    width: 1.875rem;
    float: left;
    margin-right: .875rem;
  }
}

.contact__container {
  position: relative;
  background: color(darkblue);
  z-index: 1;
  display: none;
}

.contact__overlay {
  position: relative;
  padding: 2.5rem;
  p {
    margin: 0 auto;
    background: lighten(color(darkblue), 5%);
    padding: 2.5rem;
    font-family: 'Bitter', serif;
    font-size: 1.75rem;
    color: color(red);
    span {
      display: block;
      color: color(white);
      font-family: 'Lato', sans-serif;
      font-size: 1.5rem;
    }
  }
}



.icon_color_1,
.icon_color_2,
.icon_color_3 {
  fill: color(lightblue);
  transition: .2s ease-in-out;
}
