.footer {
  padding: .625rem;

  @include breakpoint(large) {
    margin-top: 12.5rem;
  }

  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.footer__thanks,
.footer__reminder {
  margin: 0;
  padding: .3125rem 0;
  font-size: .95rem;
  font-weight: 400;
  line-height: 1.2em;
  font-family: 'Lato', sans-serif;
  @include breakpoint(large) {
    text-align: center;
  }
}

.footer__thanks {
  color: color(white);
}

.footer__reminder {
  color: lighten(color(lightblue), 5%);
  a {
    color: color(lightblue);
    &:hover {
      color: color(red)
    }
  }
}
