.pageHeader {
  align-items: center;
  background: url(../images/bg_maybe-min.jpg) bottom no-repeat;
  display: flex;
  position: relative;
  height: 90%;
  height: 100vh;
  justify-content: center;
  @include breakpoint(medium) {
    height: 90%;
    height: calc(100vh - 4.25rem);
  }
  @media all and (max-height: 25rem) {
    height: 22rem;
  }
  @media all and (min-height: 64.1rem) {
    background-position: top;
  }
}

.pageHeader__hero {
  padding: 10rem;
  margin: auto;

  @include breakpoint(small) {
    padding: 0;
  }
}

.pageHeader__name {
  text-align: left;
  display: block;
}

.pageHeader__name--short {
  line-height: 1.1em;
}

.pageHeader__title {
  display: block;
  color: color(gray);
  font-style: italic;
  font-weight: 300;
  text-align: right;
}
