.nav__main, .nav__mobile {
  font-size: 1.25rem;
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.nav__main {
  display: none;
  width: 100%;
  padding: .875rem .6125rem;
  z-index: 2;
  background: color(darkblue);
  text-align: center;
  @include breakpoint(medium) {
    display: block;
  }

  &--transition {
    & > div {
      margin: 0 auto;
      max-width: 71.25rem;
      transition: max-width .2s ease-in-out;
    }

    &.no-max {
      & > div {
        max-width: 100%;
      }
    }
  }
}

.nav__title {
  flex-shrink: 1;
  font-size: 1.25rem;
  text-align: left;
  margin-right: auto;

  @include breakpoint(small) {
    font-size: 1.625rem;
  }
}

.nav__mobile {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem .625rem .75rem;
  font-size: 1.25rem;
  text-align: right;
  background: color(darkblue);
  z-index: 2;
  @include breakpoint(small) {
    //padding: 1.25rem;
    font-size: 1.5rem;
  }
  @include breakpoint(medium) {
    display: none;
  }
  .active {
    color: color(red);
  }
}

.mobile__button {
  padding: 0 .3125rem;
  &.active {
    background: color(lightblue);
    &::before {
      transform:rotate(-45deg);
      color: color(white);
    }
  }
  &::before {
    display: inline-block;
    content: '+';
    color: color(red);
    margin-right: 5px;
    vertical-align: .125rem;
    transition: .2s ease-in-out;
  }
}

.mobile__links {
  width: 100%;
  height: 0px;
  text-align: right;
  overflow: hidden;
  transform: translateZ(0);
  transition: .2s ease-in-out;
  will-change: transform;
  li:first-of-type {
    margin-top: 0;
  }
}

.mobile__title {
  float: left;
}
