
.project__header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.project__header,
.project__info {
  padding-left: .625rem;
  padding-right: .625rem;
  @include breakpoint(medium) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.project__tech {
  margin-top: .675rem;
  font-size: .9rem;
  line-height: 1.5rem;
  text-align: left;
  @include breakpoint(medium) {
    margin-top: 0;
    font-size: 1rem;
    line-height: 2rem;
    text-align: right;
    padding-top: .25rem;
  }
  ul {
    margin: 0;
  }
}

.project__display {
  padding: 0 .625rem 2.5rem;

  @include breakpoint(medium) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  figure {
    margin: 0;
  }

  img {
    display: block;
    margin: 2.5rem auto 0;
    max-width: 100%;
    box-shadow: 2px 2px 8px rgba(0,0,0,.2);
  }
}

.project__info {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.25rem;
  }
  p {
    text-indent: 1.25rem;
    margin: 0;
  }
}

.project__info-module {
  font-size: 1.125rem;

  @include breakpoint(medium) {
    font-size: 1.25rem;
  }

  @include breakpoint(medium) {
    margin-top: 0;
  }
}
